.my-title {
  margin-top: 1em !important;
  color: #fff !important;
}
my-text {
  color: #000000 !important;
}
.my-container {
  display: block;
  overflow: auto;
  left: 0;
  top: 0;
  opacity: 0.6;
  background-image: url("../../assets/images/background/nice.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  color: #000000 !important;
  text-shadow: black 0.1em 0.1em 0.2em !important;
}
.my-icon {
  color: white !important;
}
.my-content {
  background-color: rgba(255, 255, 255, 0.5) !important;
  backdrop-filter: blur(5px);
}
.mb-20 {
  margin-bottom: 20px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-5 {
  margin-top: 5px !important;
}
